  <li id="course-<%= course.id %>">
      <div class="row">
      <div class="col-md-6 col-md-offset-3">
      <div style="background-color: #eaeaea; padding:23px;  border: 1px solid gray;border-radius: 25px;">
  <span class="coursename"><%= link_to course.name, course %></span>
  <span class="prerequisite">Prerequisite: <%= course.prerequisite %></span>
      <!---- like ------>
      <span class = "thumb">
      <%= link_to like_create_path(id: course.id), class:"like", method: :post, remote: true do %>
      <button type="button" class="btn btn-info" aria-label="Left Align">
      <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"></span>
      <span class="badge"><%= count_like(course) %></span>
      </button>
      <% end %>
    
    <!---- dislike ------>
        
      <%= link_to dislike_create_path(id: course.id), class:"like", method: :post, remote: true do %>
      <button type="button" class="btn btn-info" aria-label="Left Align">
      <span class="glyphicon glyphicon-thumbs-down glyphicon-align-center" aria-hidden="true"></span>
      <span class="badge"><%= count_dislike(course) %></span>
      </button>
      <% end %>
      </span>
  <span class="timestamp">
   <%= time_ago_in_words(course.created_at) %> ago.
  </span>

      </div>
      </div>
      </div>
  </li>
