<% provide(:title, 'New location') %>
<h5>Create a new location</h5>

<div class="row">
<div class="col-md-6 col-md-offset-3">
<div style="background-color: #eaeaea; padding:15px;">
<%= form_for(@location, url: newloca_path) do |f| %>
 <%= render 'shared/errorloca_messages' %>
  
      <%= f.label :location %> [In Format(xxx.xxx.xxx)]
      <%= f.text_field :location, class: 'form-control' %>
      <%= f.submit "Create location", class: "btn btn-success" %>
<% end %>
 </div>
</div>
</div>