<footer class="footer">
<div class = "toRight">
   <div class="row">
    <div class="col-sm-3" ><h4>Contect Us</h4></div>
    <div class="col-sm-3" ><h4> General inquires</h4></div>
    <div class="col-sm-3" ><h4>Useful Links</h4></div>
    <div class="col-sm-3" ><h4>Social Media</h4></div>
  </div>
    <div class="row">
    <div class="col-sm-3" >
      <p1><a href="https://rmit.service-now.com/connect/">Connect</a></p1><br>
      
    <!--<%= form_for (Post.new) do |f| %>-->
    <!--  <%= f.label :name %>-->
    <!--  <%= f.text_field :name %>-->
    <!--  <%= f.label :email %>-->
    <!--  <%= f.email_field :email %>-->
    <!--  <%= f.label :message %>-->
    <!--  <%= f.text_area :message %>-->
    <!--  <%= f.submit "Send", class: "btn btn-sm btn-info" %>-->
    <!--<% end %>-->
    </div>
    <div class="col-sm-3" >
    <p1><a href="https://www.rmit.edu.au/students/support-and-facilities/it-services-for-students/canvas">Canvas</a></p1><br>
     <p1><a href="https://www.rmit.edu.au/students/student-essentials/class-timetables">Timetable</a></p1><br>
      <p1><a href="https://www.rmit.edu.au/students/student-essentials/important-dates">Impotant Date</a></p1><br>
    </div>
    <div class="col-sm-3" >
    <p1><a href="https://www.rmit.edu.au/study-with-us">RMIT Course</a></p1><br>
    <p1><a href="https://www.rmit.edu.au/students/contact-and-help">RMIT Help Desk</a></p1><br>
    <p1><a href="https://www.rmit.edu.au/study-with-us/international-students">RMIT International</a></p1><br>
    </div>
    <div class="col-sm-3" >
    <p1><a href="https://www.youtube.com" class="link">Youtube</a><i class="fa fa-youtube-square"></i></p1><br>
    <p1><a href="https://www.twitch.com"class="link">Twitter</a><i class="fa fa-twitter-square"></i></p1><br>
    <p1><a href="https://www.facebook.com"class="link">Facebook</a><i class="fa fa-facebook-square"></i></p1><br>
    <p1><a href="https://www.instagram.com"class="link">Instagram</a><i class="fa fa-instagram"></i></p1><br>
    <p1><a href="https://www.skype.com"class="link">Skype</a><i class="fa fa-skype"></i></p1><br>
    </div>
</div>
<br>
<p></p>
  <div class="row">
    <div class="col-sm-4" ><p1>Tel: 0123456789</p1></div>
    <div class="col-sm-4" ><p1>Fax: 0123456</p1></div>
    <div class="col-sm-4" ><p1>s123456@rmit.edu.au</p1></div>
  </div>
</div>
</footer>