<header class="navbar navbar-fixed ">
  <div class="container">
    <nav>

          <% if logged_in? %>
          
      <ul class="nav navbar-nav navbar-left">
      <%= link_to "Courses Manager", courses_path,id: "logo", class: "btn btn-lg btn-success" %> 
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <!--category-->
            <li class="dropdown">
            <a href="#" class="btn btn-lg btn-primary dropdown-toggle" data-toggle="dropdown" >
            <span class="glyphicon glyphicon-tags"></span> Category <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
            <li> 
          <% categories.each do |category| %>
          <li>
           <%= link_to category.name, category %>
           </li>
           <% end %>
           </li>
              <li class="divider"></li>
              <li>
                <%= link_to "Create Category", newcate_path %>
              </li>
              </ul>
              </li>
              
        <!--Location-->
         <li class="dropdown">
           <a href="#" class="btn btn-lg btn-primary dropdown-toggle" data-toggle="dropdown">
               <span class="glyphicon glyphicon-send"></span> Location <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li>
              <% locations.each do |location| %>
              <li>
              <%= link_to location.location, location %>
              </li>
              <% end %>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to "Create Location", newloca_path  %>
              </li>
              </ul>
              </li>
          <!--New course-->
          <li><%= link_to raw("<span class='glyphicon glyphicon-file'></span> New Courses"), newcourse_path, class: " btn btn-lg btn-primary" %></li>
          
          <!--Logout-->
          <li class="dropdown">
            <a href="#" class="btn btn-lg btn-primary dropdown-toggle " style="background-color:#FF0000" data-toggle="dropdown">
             <%= current_user.name %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user)  %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
          </ul>
          
        <% else %>
      <ul class="nav navbar-nav navbar-left">
      <%= link_to "Courses Manager", root_path,id: "logo", class: "btn btn-lg btn-success" %> 
      </ul>
      <ul class="nav navbar-nav navbar-right">
         
        
        
        <!--category-->
            <li class="dropdown">
            <a href="#" class="btn btn-lg  btn-primary dropdown-toggle" data-toggle="dropdown" >
            <span class="glyphicon glyphicon-tags"></span> Category <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
           <li> 
          <% categories.each do |category| %>
          <li>
           <%= link_to category.name, category %>
           </li>
           <% end %>
           </li>
              </ul>
              </li>
              
        <!--Location-->
         <li class="dropdown ">
           <a href="#" class="btn btn-lg btn-primary dropdown-toggle" data-toggle="dropdown">
               <span class="glyphicon glyphicon-send"></span> Location <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li>
              <% locations.each do |location| %>
              <li>
              <%= link_to location.location, location %>
              </li>
              <% end %>
              </li>
              </ul>
              </li>
        <!--Login-->
        <li><%= link_to raw("<span class='glyphicon glyphicon-user'></span> Log in"), login_path, class: " btn btn-lg btn-primary" %></li>
        </ul>
        <% end %>



    </nav>
  </div>
</header>